@import url('https://fonts.googleapis.com/css2?family=Piazzolla:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Piazzolla', serif;
    background-color: rgba(226, 222, 222, 0.815);
    word-spacing: 3px;

}
nav {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: black;
    margin-bottom: 20px;
    z-index: 1;
    
    
}
nav ul{
    width: 100%;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding:0;
}
nav ul li{
    text-align: center;
    padding: 2px 50px;
    font-size: .8em;
    
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    color: whitesmoke;
    cursor: pointer;
}
nav ul li:hover{
    background-color: rgb(216, 208, 208);
    color: black;
    font-weight: bold;
}
nav a{
    text-decoration: none;
    color: inherit;
}

/*  end the nav  */

/* start the header */
header{
    background-image: url('https://www.w3schools.com/w3images/coffeehouse.jpg');
    width: 100%;
    height: 80vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
}
div.center{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    color: white;
    font-size: 4em;
    font-weight: bold;
    line-height: 1.4em;
    letter-spacing: .1em;
}
div.bottomLeft{
    position: absolute;
    top: 90%;
    left:1%;
    padding:5px;
    /* transform: translate(-50%,-50%); */
    color: white;
    background-color: black;
    font-size: .8em;
    letter-spacing: .1em;
}
div.bottomRight{
    position: absolute;
    top: 90%;
    right:1%;
    padding:5px;
    font-weight: bold;
    color: white;
    font-size: .8em;
    letter-spacing: .1em;
}
/* end the header  */

/* start the main */
main{
    margin-top: 40px;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;


}
.clickk{
    margin-bottom: 25px;
}
.container{
    width: 700px;
    
    display: flex;
    flex-direction: column;
    align-items: center;

}
article{
    width: 100%;
    margin-top: 30px;
    margin-bottom: 100px;
}

h3{
    text-align: center;
    margin-bottom: 50px;
}
h3 span{
    color: white;
    background-color: black;
    padding: 2px 5px;
    letter-spacing: 1.5px;
    word-spacing: 5px;
    
}
.blockq {
    background-color: rgba(202, 198, 198, 0.747);
    border-left: 6px solid rgba(104, 102, 102, 0.897);
    margin: 1.5em 0px;
    padding: 0.5em 10px;
    }
P {
    font-size: 1.2em;
}
/* end of first article  */

/* start of second article */
.triggers{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(226, 222, 222, 0.815);
    
    box-shadow: 0 2px 4px 2px  rgba(0, 0, 0, 0.164) ;
}
.trigger{
    display:inline-block;
    width: 50%;
    text-align: center;
    font-size: 1.5em;
    cursor: pointer;
    margin-bottom: 0;
    padding: 0;
    
}
.br {
    border-right: 0.5px solid gray ;
}


.trigger {
    color: black;
    text-decoration: none;
    display: inline-block;
    width: 100%;
}
.trigger:active , .trigger:focus{
    background-color: rgba(48, 47, 47, 0.856);
    color: whitesmoke;
}
.active{
    background-color: rgba(48, 47, 47, 0.856);
    color: whitesmoke;
}

.menu-container{
    padding: 8px;
    margin-top: 2px;
    background-color: rgba(226, 222, 222, 0.815);
    box-shadow: 0 2px 5px 4px  rgba(0, 0, 0, 0.137) ;

}
.drink{
    display: none;
}
.item{
    margin-bottom: 70px;
}
.item h4{
    font-size: 1.2em;
    filter: opacity(80%);
}
.item p{
   filter: opacity(80%);
}
/* end the article 2 */

/* start the third article */
.where p.light{
    width: 100%;
    text-align: left;
    filter: opacity(80%);
}
.where p span{
    background-color: black;
    color: white;
    padding: 0px 7px;
}
strong{
    font-size: 1.2em;
}
input{
    width: 100%;
    height: 70px;
    margin: 10px 0;
    padding: 10px;
    font-size: 1.1em;
}
button{
    background-color: black;
    color: white;
    padding: 10px;
    font-size: 1.1em;
    margin-top: 15px;
    cursor: pointer;
    outline: none;
}
button:hover{
    background-color: rgba(170, 167, 167, 0.897);
    color: black;
    outline: none;
}
button:active{
    transform: translateY(3px);
}

/* end of main */


/* footer */
footer{
    width: 100%;
    height: 200px;
    background-color: rgba(199, 195, 195, 0.63);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 2px 3px gray;
}
footer a{
    color: rgba(88, 4, 4, 0.877);
    font-size: 1.8em;
    padding: 3px;
}
footer a:hover{
    background-color: rgba(80, 26, 26, 0.651);
    color: rgb(0, 0, 66);
}
footer h5{
    margin-top: 0;
}



img{
    filter: grayscale(80%) !important;
    margin-top: 20px;
    width: 100%;
}